<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/historial.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="../static/img/analizar.jpg" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Analizar</title>
</head>
<body>
    <header class="skip-to-navigation">
      <a class="visually-hidden-focusable skip-color" href="#nav">Skip to navigation</a>
      <a class="visually-hidden-focusable skip-color" href="#content">Skip to services</a>
      <a class="visually-hidden-focusable skip-color" href="#contact">Skip to contact</a>
      <a class="visually-hidden-focusable skip-color" href="#footer">Skip to footer</a>
    </header>
    <nav class="nav-absolute navbar navbar-expand-lg border-1-green">
        <div class="container-fluid justify-content-between">
          <button class="bg-transparent border-0" type="submit" id="menuLateral">
            <i id="changeIcon" class="d-inline-block align-text-top mx-2 bi bi-list display-6 text-green"></i>
          </button>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav fw-bold align-items-center">
              <li class="nav-item mx-4">
                <a class="nav-link" href="#">Bienvenido, @User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-green px-4 rounded-pill" href="#">CERRAR SESION</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <nav id="submenu" class="m-0 sidebar">
      <ul class="list-unstyled bg-green m-auto align-items-center">
        <li class="list-sidebar"><a class="list-sidebar-item" href="../view/home.html">INICIO</a></li>
        <li class="list-sidebar"><a class="list-sidebar-item" href="../view/historial.html">Historial</a></li>
        <li class="list-sidebar"><a class="list-sidebar-item" href="#">Alertas</a></li>
        <li class="list-sidebar"><a class="list-sidebar-item" href="../view/micuenta.html">Cuenta</a></li>
      </ul>
    </nav>
    <main>
      <section class="grafico graficobarras">
        <div class="titulo">Consumo Mensual Kw/h</div>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        <script>
            var xValues = ["Marzo", "Abril", "Mayo", "junio", "Julio"];
            var yValues = [550, 490, 440, 240, 350];
            var barColors = ["red", "green","blue","orange","brown"];
            
            new Chart("myChart", {
              type: "bar",
              data: {
                labels: xValues,
                datasets: [{
                  backgroundColor: '#1F5834',
                  data: yValues
                }]
              },
              options: {
                legend: {display: false},
                title: {
                  display: false,
                  text: "Consumo Mensual Kw/h"
                }
              }
            });
            </script>
      </section>
      <section class="grafico graficolineas">
        <div class="titulo">Consumo ultimas 24hs en Kw/h</div>
        <canvas id="myChart2" style="width:100%;max-width:800px"></canvas>
        <script>
            var xValues = ['10:50','11:00','11:10','11:20','11:30','11:40','11:50','12:00','12:10','12:20','12:30','12:40','12:50','13:00','13:10','13:20','13:30','13:40','13:50','14:00'];
            var yValues = [70,80,80,90,90,90,100,110,140,140,150,60,60,60,45,45,40,40,10,5];
            
            new Chart("myChart2", {
              type: "line",
              data: {
                labels: xValues,
                datasets: [{
                  fill: false,
                  lineTension: 0,
                  backgroundColor: "#1F5834",
                  borderColor: "#509C57",
                  data: yValues
                }]
              },
              options: {
                legend: {display: false},
                title: {
                  display: false,
                  text: "Consumo ultimas 24hs en Kw/h"
                },
                scales: {
                  yAxes: [{ticks: {min: 0, max:160}}],
                }
              }
            });
        </script>
      </section>
    </main>
    <footer class="d-flex flex-column flex-nowrap justify-content-between align-items-center p-3 bg-black">
        <div class="col-md-12 d-flex align-items-center mb-2">
          <span class="m-auto mb-3 mb-md-0 text-white">© Copyright AnalizAr - Dev Full Solutions. Todos los derechos reservados</span>
        </div>
    
        <ul class="nav col-md-12 justify-content-center list-unstyled d-flex">
          <li class="mx-4"><a href="#"><i class="bi bi-instagram text-white"></i></a></li>
          <li class="mx-4"><a href="#"><i class="bi bi-facebook text-white"></i></a></li>
          <li class="mx-4"><a href="#"><i class="bi bi-twitter text-white"></i></a></li>
        </ul>
      </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="../static/js/effects.js"></script>
  </body>
</html>