<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Dev Full Solutions">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/inicio.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="../static/img/analizar.jpg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/3c0d7e4073.js" crossorigin="anonymous"></script>
    <title>Analizar</title>
</head>
<body>
    <header class="skip-to-navigation">
      <a class="visually-hidden-focusable skip-color" href="#nav">Skip to navigation</a>
      <a class="visually-hidden-focusable skip-color" href="#content">Skip to services</a>
      <a class="visually-hidden-focusable skip-color" href="#contact">Skip to contact</a>
      <a class="visually-hidden-focusable skip-color" href="#footer">Skip to footer</a>
    </header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../static/img/analizarSinBg.png" alt="Logo" width="64" height="64" class="d-inline-block align-text-top mx-2">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav fw-bold align-items-center">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../view/loginAdmin.html">ADMINISTRADOR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#servicios">SERVICIOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contacto">CONTACTO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-green px-4 rounded-pill" href="../view/login.html">INGRESAR</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main>
      <!-- Sección superior de la página -->
      <!-- Primer bloque -->
      <div class="contenedor-superior">
        <div class="contenedor-superior-item1">
          <h1 class="titulos-h1" id="titulo-principal" onmousemove="cambiarTitulo()" onmouseout="restaurarTitulo()"><strong>Controlar el consumo
          eléctrico nunca fue tan fácil</strong></h1>        
          <h3><strong class="titulos-h3">AnalizAr te permitirá conocer tu nivel de consumo de
            luz, permitiéndote estimar el costo mensual,
            comparar con otros meses y ¡mucho más!</strong></h3>
        </div>
        <div class="contenedor-superior-item2">
          <img src="../static/img/fondo1b.png" alt="imagen de la aplicacion en movil" title="Personas usando Analizar" id="imagen-principal" onmouseover="cambiarImagen()" onmouseout="restaurarImagen()"/>
        </div>
      </div>
      
      <!-- Segundo bloque -->
      <h2 class="titulos-h2" id="servicios"><strogn>SERVICIOS</strogn></h2>
      
      <div class="contenedor-servicios">
        <div class="contenedor-imagen">
          <img src="../static/img/fondo2b.png" alt="imagen de usuario analizando informes de la app" title="Informes AnalizAr" id="imagen-servicios" onmouseover="cambiarImagenServicios()" onmouseout="restaurarImagenServicios()"/>
        </div>
        <div class="contenedor-tabla">          
          <div class="contenedor-item1">
            <h3 class="titulos-h3">Nuestra aplicación te permitirá tener al alcance de tu mano 
            toda la información necesaria sobre el consumo eléctrico, ¡desde cualquier dispositivo!</h3>
          </div>
          <div class="contenedor-item2">            
            <p style="text-align: center;">Nivel de Consumo Diario</p>
          </div>
          <div class="contenedor-item3">            
            <p style="text-align: center">Nivel de Consumo Mensual</p>
          </div>
          <div class="contenedor-item4">            
            <p style="text-align: center">Costo Estimado</p>
          </div>
          <div class="contenedor-item5">            
            <p style="text-align: center">Historial de Consumo</p>
          </div>
          <div class="contenedor-item6">            
            <p style="text-align: center">Configuración de Alertas</p>
          </div>
        </div>
      </div>
           
      <!-- Sección media de la página -->
      <!-- Tercer bloque -->
      <div class="contenedor-comentarios">
        <div class="contenedor-tarjetas">
          <div class="contenedor-textos" style="background-color: #9ce0ba">
            <h3 style="text-align: center"><strong>@juli23</strong></h3>
            <p style="text-align: center">"Gracias a esta app pude ahorrarme unos cuantos centavos al mes"</p>
          </div>
        </div>

        <div class="contenedor-tarjetas">
          <div class="contenedor-textos" style="font-size: 20px; background-color: #91bea4">
            <h3 style="text-align: center"><strong>@carlosAG</strong></h3>
            <p style="text-align: center">"Desde que empecé a utilizar AnalizAr logré tomar conciencia de la luz que consumo"</p>
          </div>
        </div>

        <div class="contenedor-tarjetas">
          <div class="contenedor-textos" style="background-color: #9ce0ba">
            <h3 style="text-align: center">@gaby9</h3>
            <p style="text-align: center">"Gracias a las alertas que me llegan desde AnalizAr puedo controlar mi consumo de luz"</p>
          </div>
        </div>
      </div>     

      <!-- Sección inferior de la página -->
      <!-- Cuarto bloque -->
      <section class="seccion__faq">
        <h2 class="titulos-h2" id="faq"><strogn>FAQ</strogn></h2>
        <details>
          <summary>1. ¿La aplicación es gratuita?</summary>
          <div>
            <p>
              La aplicación es totalmente gratuita, no tiene ningún tipo de costo.
            </p>
          </div>
        </details>
        <details>
          <summary>2. ¿Es necesario tener algún conocimiento previo para utilizarla?</summary>
          <div>
            <p>
              Si bien la aplicación es muy intuitiva, podrá hacer un adecuado uso de la misma 
              si sigue los pasos del tutorial adjunto.
            </p>
          </div>
        </details>
        <details>
          <summary>3. ¿AnalizAr vende medidores eléctricos inteligentes?</summary>
          <div>
            <p>
              Si, aunque no es obligatorio hacerlo. No obstante nuestros equipos cuentan
              con garantía escrita por 12 meses ante cualquier desperfecto que pudiera ocurrir.
              Consulte con nuestros agentes comerciales por mayor información.
            </p>
          </div>
        </details>
        <details>
          <summary>4. Aquí iría otra consulta recurrente.</summary>
          <div>
            <p>
              Aquí se detalla la respuesta a la consulta 4.
            </p>
          </div>
        </details>
        <details>
          <summary>5. Y aquí también iría una consulta recurrente.</summary>
          <div>
            <p>
              Aquí se detalla la respuesta a la consulta 5.
            </p>
          </div>
        </details>
      </section>

      <!-- Quinto bloque - Formulario de Contacto -->
      <!-- Inicio de la modificación del 12 de noviembre de 2022 -->     
      <section class="seccion__contacto">
        <div class="cabecera">
          <h2 class="titulos-h2" id="contacto"><strong>CONTACTO</strong></h2>
        </div>
        <form action="#" class="formulario" id="formulario">                  
          <!-- Grupo: Nombre -->
          <div class="formulario__grupo" id="grupo__nombre">
            <label class="formulario__label">Nombre y Apellido</label>
            <div class="formulario__grupo-input">
              <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="Nombre y Apellido">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">Disculpe, debe ingresar nombre y apellido válidos.</p>
          </div>

          <!-- Grupo: Correo Electrónico -->
          <div class="formulario__grupo" id="grupo__correo">
            <label class="formulario__label">Correo Electrónico</label>
            <div class="formulario__grupo-input">
              <input type="email" class="formulario__input" name="correo" id="correo" placeholder="nombre@gmail.com">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">Recuerde, el correo puede contener letras, números, punto, debe tener el símbolo @ y el proveedor del servicio.</p>
          </div>

          <!-- Grupo: Mensaje -->
          <div class="formulario__grupo" id="grupo__mensaje">
            <label class="formulario__label">Mensaje</label>
            <div class="formulario__grupo-input">
              <input type="text" class="formulario__input" name="mensaje" id="mensaje" placeholder="Exprese aquí el motivo de su contacto, si requiere de algún servicio específico o cualquier información que considere relevante. Gracias.">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>              
            </div>
            <p class="formulario__input-error">Por favor, déjenos un mensaje con el motivo de su solicitud de contacto.</p>
          </div>

          <!-- Grupo: Términos y Condiciones -->
          <div class="formulario__grupo formulario__grupo-terminos" id="grupo__terminos">
            <label class="formulario__label">
              <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
              <b class="formulario__span">Acepto los terminos y condiciones</b>
            </label>
          </div>

          <!-- Mensaje de campos requeridos -->
          <div class="formulario__mensaje" id="formulario__mensaje">
          <p><i class="fas fa-exclamation-circle"><b>Error:</b> Por favor, complete correctamente los campos del formulario.</i></p>
          </div>

          <!-- Grupo: Enviar -->
          <div class="formulario__grupo formulario__grupo-btn-enviar">
            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado satisfactoriamente. En breve nos comunicaremos con Ud.</p>
            <button type="submit" class="formulario__btn">Enviar</button>            
          </div>
        </form>
      </section>     
      <!-- Final de la modificación del 12 de noviembre de 2022 -->                    
      
    </main>
    <footer class="d-flex flex-column flex-nowrap justify-content-between align-items-center p-3 bg-black">
      <div class="col-md-12 d-flex align-items-center mb-2">
        <span class="m-auto mb-3 mb-md-0 text-white">© Copyright AnalizAr - Dev Full Solutions. Todos los derechos reservados</span>
      </div>  
      <ul class="nav col-md-12 justify-content-center list-unstyled d-flex">
        <li class="mx-4"><a href="#"><i class="bi bi-instagram text-white"></i></a></li>
        <li class="mx-4"><a href="#"><i class="bi bi-facebook text-white"></i></a></li>
        <li class="mx-4"><a href="#"><i class="bi bi-twitter text-white"></i></a></li>
      </ul>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="../static/js/inicio.js"></script>    
</body>
</html>