<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/notificaciones.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="../static/img/analizar.jpg" type="image/x-icon">
    <title>Analizar</title>
</head>
<body>
    <header class="skip-to-navigation">
      <a class="visually-hidden-focusable skip-color" href="#nav">Skip to navigation</a>
      <a class="visually-hidden-focusable skip-color" href="#content">Skip to services</a>
      <a class="visually-hidden-focusable skip-color" href="#contact">Skip to contact</a>
      <a class="visually-hidden-focusable skip-color" href="#footer">Skip to footer</a>
    </header>
    <nav class="nav-absolute navbar navbar-expand-lg border-1-green">
        <div class="container-fluid justify-content-between">
          <button class="bg-transparent border-0" type="submit" id="menuLateral">
            <i id="changeIcon" class="d-inline-block align-text-top mx-2 bi bi-list display-6 text-green"></i>
          </button>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav fw-bold align-items-center">
              <li class="nav-item mx-4">
                <a class="nav-link" href="#">Bienvenido, @User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-green px-4 rounded-pill" href="../view/Inicio.html">CERRAR SESION</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <nav id="submenu" class="m-0 sidebar">
      <ul class="list-unstyled bg-green m-auto align-items-center">
        <li class="list-sidebar"><a class="list-sidebar-item" href="../view/home.html">INICIO</a></li>
        <li class="list-sidebar"><a class="list-sidebar-item" href="../view/historial.html">Historial</a></li>
        <li class="list-sidebar"><a class="list-sidebar-item" href="../view/notificaciones.html">Alertas</a></li>
        <li class="list-sidebar"><a class="list-sidebar-item" href="../view/micuenta.html">Cuenta</a></li>
      </ul>
    </nav>
    <main>
      <section class="contenedor-principal-alertas">
        <section class="contenedor-alertas" id="contenedor-alertas">
          <div class="alerta">
            <button class="btn-nueva-alerta" id="btn-nueva-alerta">+</button>
            <h2 class="subtitulo-alerta">nueva alerta</h2>
          </div>
          <div class="alerta">
            <h2 class="titulo-alerta">alerta #1</h2>
            <!-- <h2 class="subtitulo-alerta">nueva alerta</h2> -->
            <p class="texto-alerta">Si el consmo supera los 200 w/h envio una alerta como precaucion</p>
            <div class="contenedor-botones-alerta">
              <button class="btn-alerta btn-alerta-editar">editar</button>
              <button class="btn-alerta btn-alerta-eliminar">eliminar</button>
            </div>
          </div>
          <div class="alerta">
            <h2 class="titulo-alerta">alerta #2</h2>
            <!-- <h2 class="subtitulo-alerta">nueva alerta</h2> -->
            <p class="texto-alerta">Si el consmo supera los 200 w/h envio una alerta como precaucion</p>
            <div class="contenedor-botones-alerta">
              <button class="btn-alerta btn-alerta-editar">editar</button>
              <button class="btn-alerta btn-alerta-eliminar">eliminar</button>
            </div>
          </div>
          <div class="alerta">
            <h2 class="titulo-alerta">alerta #3</h2>
            <!-- <h2 class="subtitulo-alerta">nueva alerta</h2> -->
            <p class="texto-alerta">Si el consmo supera los 200 w/h envio una alerta como precaucion</p>
            <div class="contenedor-botones-alerta">
              <button class="btn-alerta btn-alerta-editar">editar</button>
              <button class="btn-alerta btn-alerta-eliminar">eliminar</button>
            </div>
          </div>
          <div class="alerta">
            <h2 class="titulo-alerta">alerta #4</h2>
            <!-- <h2 class="subtitulo-alerta">nueva alerta</h2> -->
            <p class="texto-alerta">Si el consmo supera los 200 w/h envio una alerta como precaucion</p>
            <div class="contenedor-botones-alerta">
              <button class="btn-alerta btn-alerta-editar">editar</button>
              <button class="btn-alerta btn-alerta-eliminar">eliminar</button>
            </div>
          </div>
        </section>
        <form class="formulario-nueva-alerta" id="form-nueva-alerta">
          <p class="title-formulario-alerta">nueva alerta</p>
          <div class="inputContainer">
            <input type="number" class="input" placeholder="Ingresa la cantidad de w/h" id="input-precio">
            <label for="" class="label"> Cantidad w/h </label>
          </div>
          <div class="inputContainer">
            <select name="tipo-alerta" class="tipo-alerta" id="">
              <option selected disabled>Elije el tipo de alerta</option>
              <option value="anual">Anual</option>
              <option value="mensual">Mensual</option>
              <option value="semanal">Semanal</option>
              <option value="diario">Diario</option>
            </select>
          </div>
          <div class="btnContainer">
            <input type="submit" class= "submitBtn saveBtn" id="btn-save-nueva-alerta" value="Guardar">
            <input type="submit" class= "submitBtn cancelBtn" id="btn-close-nueva-alerta" value="Cancelar">
          </div>
        </form>
        <form class="formulario-nueva-alerta" id="form-edit-alerta">
          <p class="title-formulario-alerta">editar alerta <span>1</span></p>
          <div class="inputContainer">
            <input type="number" class="input" placeholder="Ingresa la cantidad de w/h" id="input-precio">
            <label for="" class="label"> Cantidad w/h </label>
          </div>
          <div class="inputContainer">
            <select name="tipo-alerta" class="tipo-alerta" id="">
              <option selected disabled>Elije el tipo de alerta</option>
              <option value="anual">Anual</option>
              <option value="mensual">Mensual</option>
              <option value="semanal">Semanal</option>
              <option value="diario">Diario</option>
            </select>
          </div>
          <div class="btnContainer">
            <input type="submit" class= "submitBtn saveBtn" id="btn-save-edit-alerta" value="Guardar">
            <input type="submit" class= "submitBtn cancelBtn" id="btn-close-edit-alerta" value="Cancelar">
          </div>
        </form>
      </section>
    </main>
    <footer class="d-flex flex-column flex-nowrap justify-content-between align-items-center p-3 bg-black">
        <div class="col-md-12 d-flex align-items-center mb-2">
          <span class="m-auto mb-3 mb-md-0 text-white">© Copyright AnalizAr - Dev Full Solutions. Todos los derechos reservados</span>
        </div>
    
        <ul class="nav col-md-12 justify-content-center list-unstyled d-flex">
          <li class="mx-4"><a href="#"><i class="bi bi-instagram text-white"></i></a></li>
          <li class="mx-4"><a href="#"><i class="bi bi-facebook text-white"></i></a></li>
          <li class="mx-4"><a href="#"><i class="bi bi-twitter text-white"></i></a></li>
        </ul>
      </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="../static/js/effects.js"></script>
    <script src="../static/js/notificaciones.js"></script>
  </body>
</html>