<section>
    <div class="Micuenta">
      <div class="wrapper">
      <form action="" class="form" onsubmit="return validarCampos()">
  
        <p class="title"> Mi cuenta </p>
  
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a" value="Milagros" id="nombre">
          <label for = "nombre" class = "label" > Nombre </label>
        </div>
  
        <div class="inputContainer">
        <input type="text" class="input" placeholder="a" value="Wolowiez" id="apellido">
        <label for="apellido" class="label" >Apellido </label>
      </div>
  
      <div class="inputContainer">
      <input type="text" class="input" placeholder="a" value="3512130840" id="telefonoMovil">
      <label for="telefonoMovil" class="label">Teléfono Móvil</label>
    </div>
  
    <div class="inputContainer">
    <input type="text" class="input" placeholder="a" value="Nicolas Accame 7179" id="direccion">
    <label for="direccion" class="label">Dirección</label>
  </div>
  
  
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a" value="miliwol15@gmail.com" id="email">
          <label for="Email" class="label">Email</label>
        </div>
  
        <div class="inputContainer">
          <input type="password" class="input" placeholder="a" value= "milagros18" id="contraseñaActual">
          <label for="contraseñaActual" class = "label" > Contraseña actual </label>
        </div>
  
        <div class="inputContainer">
          <input type="password" class="input" placeholder="a" value="Milagros1812" id="contraseñaNueva">
          <label for="contraseñaNueva" class="label">Contraseña nueva </label>
        </div>
        <div class="d-flex justify-content-around">
          <input type="submit" class= "submitBtn" value="Guardar" >
          <input type="button" class="submitBtn2" value="Cancelar" onclick="volverHome()">
        </div>
      </form>
      </div>
    </div> 
   </section>