<main>
  <div class="container">
    <div class="row py-2">
      <div class="col-md-4 py-1">
        <div class="card grafico">
          <div class="card-header">
            Consumo mensual en Kw/h
          </div>
          <div class="card-body">
            <canvas baseChart class="chart"
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="'bar'">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-md-8 py-1">
        <div class="card grafico">
          <div class="card-header" id="chLineTitle">
                Consumo ultimas 24hs en Kw/h
          </div>
          <div class="card-body">
            <canvas baseChart class="chart"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [type]="'line'">
            </canvas>
            <div class="btn-group" role="group" aria-label="Botones de Horarios">
              <button type="button" class="btn btn-success" onclick="chLineChangeTitle(24);">24 Hs</button>
              <button type="button" class="btn btn-success" onclick="chLineChangeTitle(12);">12 Hs</button>
              <button type="button" class="btn btn-success" onclick="chLineChangeTitle(1);">1 Hs</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>



