<section>
    <!-- /* Opción para ordenar los productos */     -->
    <div class="ordenar">
        <label>Ordenar por:</label>       
        <select>
          <option value="nombre">Nombre</option>
          <option value="precio-asc">Precio - Menor a mayor</option>
          <option value="precio-desc">Precio - Mayor a menor</option>
        </select>
        <button id="ordenar-btn">Aplicar</button>
      </div>

    <!-- /* Muestro los productos */    -->
    <div class="row">
        <div class="col col-4" *ngFor="let producto of productos">
            <div class="card h-100 border-green-1" style="width: 20em;">
                <img class="card-img-top object-fit-cover h-100"  [src]="producto.ruta_img" alt="Descripción de la imagen del producto">
                <div class="card-body">
                    <h2>{{producto.nombre}}</h2>
                    <h3>Precio: <span>$ {{producto.precio}}</span></h3>
                    <p>{{producto.descripcion}}</p>
                    <select *ngIf="isAdmin() == false" class="producto-selector" [(ngModel)]="opcionSeleccionado" (change)="capturar()">
                    <option *ngFor="let valor of counter(producto.cantidad_disponible);let i = index" [value]="i + 1">{{i + 1}}</option>
                    </select>
                    <button *ngIf="isAdmin() == false" class="producto-botón" (click)="agregarCarrito(producto,verSeleccion,'medidor')">Agregar al carrito</button>
                </div>
            </div>
            <!-- Botón Crear -->
            <button *ngIf="isAdmin()" (click)="addProducto()">Crear</button>
            <!-- Botón Editar -->
            <button *ngIf="isAdmin()" (click)="updateProductoById(producto.id)">Editar</button>
            <!-- Botón Eliminar -->
            <button *ngIf="isAdmin()" (click)="removeProducto(producto.id)">Eliminar</button>
        </div>
    </div>
  
</section>
