<section>
    <!-- /* Opción para ordenar los productos */     -->
    <div class="ordenar">
        <label for="ordenar">Ordenar por:</label>
        <select id="ordenar">
          <option value="nombre">Nombre</option>
          <option value="precio-asc">Precio - Menor a mayor</option>
          <option value="precio-desc">Precio - Mayor a menor</option>
        </select>
        <button id="ordenar-btn">Aplicar</button>
      </div>

    <!-- /* Muestro los productos */    -->
    <div class="row">
        <div class="col col-4">
            <div class="producto">
                <img class="producto-imagen" src="../assets/img/SFE-Dom-1_0.png" alt="Descripción de la imagen del producto">
                <h2>SFE Dom 1.0</h2>
                <h3>Precio: <span>$ 9.499,99</span></h3>
                <p>Medidor Inteligente Domiciliario</p>
                <select class="producto-selector">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select>
                <button class="producto-botón">Agregar al carrito</button>
            </div>
        </div>
        
        <div class="col col-4">
            <div class="producto">
                <img class="producto-imagen" src="../assets/img/SME-Com-1_0.png" alt="Descripción de la imagen del producto">
                <h2>SME Com 1.0</h2>
                <h3>Precio: <span>$ 13.399,99</span></h3>
                <p>Medidor Inteligente Comercial</p>
                <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select>
                <button class="producto-botón">Agregar al carrito</button>
            </div>
        </div>
        
        <div class="col col-4">
            <div class="producto">
                <img class="producto-imagen" src="../assets/img/TFE-Ind-1_0.png" alt="Descripción de la imagen del producto">
                <h2>TFE Ind 1.0</h2>
                <h3>Precio: <span>$ 17.999,99</span></h3>
                <p>Medidor Inteligente Industrial</p>
                <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select>
                <button class="producto-botón">Agregar al carrito</button>
            </div>
        </div>
    </div>
  
</section>
