/* Establecer el ancho máximo de la sección de productos */

section {
  max-width: 1200px;
  margin: 0 auto;
}

/* Establecer las reglas para la fila */

.row {
  display: grid;
  --bs-gutter-x: 0;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  gap: 0;
}

/* Establecer las reglas para las columnas */

.col {
  box-sizing: border-box;
  padding: 0 10px; /* Establecer un padding para separar las columnas */
}

/* Establecer las reglas para la imagen */

.producto {
  background-color: #fff;
  border: 1px solid #509C57;
  /* padding: 20px; */
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  /* width: 388px; */
  width: 320px;
  height: 350px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.producto-imagen {
  max-width: 200px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  object-fit: contain;
}

/* Establecer las reglas para el botón */

.producto-selector {
  display: inline-block;    
}

.producto-botón {
  display: inline-block;
  width: 70%;
  padding: 10px;
  margin-left: 20px;
  background-color: #1F5834;
  color: #fff;
  border: none;
  cursor: pointer;
}

.producto-botón:disabled {
  background-color: #f30;
  cursor: default;
}

.producto-botón:disabled:hover {
  background-color: #f30;
}

/* Personalizar los colores y textos */

h2 {
  color: #1F5834;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
}

h3 {
  color: #333;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

p {
  color: #666;
  font-size: 11px;
  text-align: center;
}

span {
  color: #333;
  text-align: center;
}

select {
  background-color: #f2f2f2;
  border: none;
  padding: 10px;
  font-size: 14px;
  color: #333;
}

option {
  color: #333;
}

.ordenar {
  margin-bottom: 20px;
}

button {
  background-color: #1F5834;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.border-green-1 {
  border: 1px solid #509C57;
}

button:hover {
  background-color: #4D8E4C;
}
/* BTN */
div.contenedor-botones-alerta,
div.btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

button.btn-alerta,
button.submitBtn {
    width: 42%;
    text-align: center;
    text-transform: uppercase;
    padding: .5rem 0;
    border-radius: 1rem;
    color: var(--white);
    margin: 0 .2rem;
    font-size: .85rem;
}

button.btn-alerta-editar,
button.saveBtn {
    background-color: var(--green-700);
    border: 2px solid var(--green-700);
}

button.btn-alerta-eliminar,
button.cancelBtn {
    background-color: var(--red);
    border: 2px solid var(--red);
}

button.btn-alerta-editar:hover,
button.saveBtn:hover {
    background-color: var(--white);
    color: var(--green-700);
}

button.btn-alerta-eliminar:hover,
button.cancelBtn:hover {
    background-color: var(--white);
    color: var(--red);
}
.error {
  color: red;
  position: relative;
  top: -10px;
  font-size: 12px;
}
/* Formulario add producto */
form.formulario-nueva-alerta {
  background-color: var(--white);
  width: 50vw;
  height: auto;
  /* display: none; */
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

p.title-formulario-alerta {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

div.inputContainer {
  position: relative;
  height: 45px;
  width: 75%;
  margin-bottom: 1rem;
}

input.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid var(--light-gray);
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

select.tipo-alerta {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid var(--light-gray);
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

select.tipo-alerta:focus {
  border: 2px solid var(--green-700);
}

label.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: var(--white);
  color: #111;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

::placeholder {
  color: transparent;
}

input.input:focus + label.label {
  top: -11px;
  left: 8px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: var(--green-700);
}

input.input:not(:placeholder-shown)+ label.label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

input.input:focus {
  border: 2px solid var(--green-700);
}

div.btnContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}
.ng-valid:not(form).ng-touched {
  border-left: 5px solid var(--green-700);
}
.ng-invalid:not(form).ng-touched {
  border-left: 5px solid var(--red);
}
/* Personalizar los colores del botón al pasar el mouse */

.producto-botón:hover {
  background-color: #4D8E4C;
}

/* Media Query's */

@media screen and (max-width: 1350px) {
  section {
    padding-bottom: 8rem;
  }
  .row {
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (max-width: 1150px) {
  section {
    padding-bottom: 8rem;
  }
  .row {
    grid-template-columns: repeat(2, max-content);
  }
}

@media screen and (max-width: 850px) {
  .row {
    grid-template-columns: repeat(1, max-content);
  }
  form.formulario-nueva-alerta {
    width: 100%;
  }
}
