.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    margin-bottom: 90px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 470px;
    width: 210%;
    transition: height 0.2s ease;
}

.container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 420px;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4D8E4C;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;   
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field .show-hide {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #919191;
    cursor: pointer;
    padding: 3px;
}

.error{
    display: flex !important;
    align-items: center !important;
    margin-top: 6px !important;
    color: red !important;
}

.error .error-icon{
    margin-right: 6px !important;
    font-size: 15px !important;
}

.field .error{
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: red;
    font-size: 13px;
    display: none;
}

.invalid .error {
    display: flex;
}

.invalid .input {
    border-color: crimson;
}

.cPassword .error {
    align-items: flex-start;
  }

.input-field input:is(:focus, :valid){
    border-bottom-color: #4D8E4C;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4D8E4C;
}

.input-field i.icon {
    left: 0;   
}

.input-field i.showHidePw {
    right: 0; 
    cursor: pointer; 
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;   
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: #4D8E4C;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #4D8E4C;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4D8E4C;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: #84A894;
}

.form .login-signup {
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
