<main>
    <div class="container">
        <h2>Usuarios Registrados</h2>
        <table class="table" id="obtenerDatos">
            <thead>
                <tr>
                    <th>EMAIL</th>
                    <th>DISPOSITIVO</th>
                    <th>D.N.I</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Samuel_l_gatica@hotmail.com.ar</td>
                    <td>Notebook, celular, tablet</td>
                    <td>36955488</td>
                    <td>
                        <div class="icons">
                            <i class="bi bi-trash-fill"></i> 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>JuanRoman_Riquelme@gmail.com</td>
                    <td>Smartphone, tablet</td>
                    <td>35890636</td>
                    <td>
                        <div class="icons">
                            <i class="bi bi-trash-fill"></i> 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Ricky09@gmail.com</td>
                    <td>Notebook, celular</td>
                    <td>36966544</td>
                    <td>
                        <div class="icons">
                            <i class="bi bi-trash-fill"></i> 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Dyhana.dj@gmail.com</td>
                    <td>Notebook,celular, tablet</td>
                    <td>39349973</td>
                    <td>
                        <div class="icons">
                            <i class="bi bi-trash-fill"></i> 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Lucy23@gmail.com</td>
                    <td>Notebook, celular</td>
                    <td>16980655</td>
                    <td>
                        <div class="icons">
                            <i class="bi bi-trash-fill"></i> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="botones">
        <button>1</button>
        <button>2</button>
        <button>Siguiente</button>
    </div>
</main>