<main>
    <div class="container">
        <h2>Usuarios Registrados</h2>
        <table class="table" id="obtenerDatos">
            <thead>
                <tr>
                    <th>EMAIL</th>
                    <th>DISPOSITIVO</th>
                    <th>Nombre y apellido</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.email}}</td>
                    <td>{{user.nombre}} {{user.apellido}}</td>
                    <td>{{user.celular}}</td>
                    <td>
                        <div class="icons">
                            <!-- <i class="bi bi-pause-fill"></i>  -->
                            <!-- <i class="bi bi-pencil-fill"></i> -->
                            <i class="bi bi-trash-fill"></i>  
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="botones">
        <button>1</button>
        <button>2</button>
        <button>Siguiente</button>
    </div>
</main>