/* --- Bloque General - Títulos y Textos de AnalizAr --- */
.titulos-h1{
    font-family: Roboto;
    font-size: 31.5px;
    color: #4D8E4C;
    text-align: left;
}

.titulos-h2{
    font-family: Roboto;
    font-size: 27px;
    color: #4D8E4C;
    text-align: center;
    padding: 50px;
}

.titulos-h3{
    font-family: Roboto;
    font-size: 18px;
    color: #171715;
    text-align: left;
}
/* --- 1er Bloque - Presentación de AnalizAr --- */
.contenedor-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 4rem;
    height: 81vh;
}

.contenedor-superior-item1{
    flex: 1 1 400px;
}

.contenedor-superior-item2{
    display: flex;
    justify-content: center;
    flex: 1 1 400px;
}

.contenedor-superior-item2 img {
    max-width: 400px;
    height: 400px;
    object-fit: cover;
}
/* --- 2do Bloque - Servicios de AnalizAr --- */
.contenedor-servicios{
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 30px;  
    padding-right: 2rem;  
    padding-left: 2rem;  
    padding-bottom: 5rem;  
}

.contenedor-imagen{
    border: solid 2px #4D8E4C;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 10px 10px #4D8E4C; 
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen img {
    width: 80%;
}

.contenedor-tabla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "main1 main2 main3"
        "footer1 footer2 footer3";
    justify-content: space-around;
    align-content: space-around;
    gap: 30px;
}

.contenedor-tabla .contenedor-item {
    display: grid;
    place-items: center;
}

.contenedor-tabla .contenedor-item p {
    margin: 0;
    padding: 0;
    padding: 10px;
}

.contenedor-item1{
    grid-area: header;    
}

.contenedor-item2{
    grid-area: main1;
    border-radius: 10px;
    border: 2px solid #4D8E4C;
    box-shadow: 3px 3px #3b3b38;  
}

.contenedor-item3{
    grid-area: main2;
    border-radius: 10px;
    border: 2px solid #4D8E4C;
    box-shadow: 3px 3px #3b3b38;                  
}

.contenedor-item4{
    grid-area: main3;
    border-radius: 10px;
    border: 2px solid #4D8E4C;
    box-shadow: 3px 3px #3b3b38;                  
}

.contenedor-item5{
    grid-area: footer1;
    border-radius: 10px;
    border: 2px solid #4D8E4C;
    box-shadow: 3px 3px #3b3b38;                  
}

.contenedor-item6{
    grid-area: footer2;
    border-radius: 10px;
    border: 2px solid #4D8E4C;
    box-shadow: 3px 3px #3b3b38;                  
}
/* --- 3er Bloque - Comentarios de AnalizAr --- */
.contenedor-comentarios{
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    align-content: center;    
    gap: 20px;
    background-color: #5f9e5e;
    padding: 20px;
    margin: 50px 0;
}

.contenedor-tarjetas{    
    height: 200px;    
    border: solid 3px #171715;
    border-radius: 30px; 
    background-position: center center;
    width: calc(33.33% - 20px);    
}

.contenedor-textos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;            
    border-radius: 30px;  
    transition: all 0.7s ease; 
    padding: 8px;
    font-size: 14px;
    background-color: #9ce0ba;   
}

.contenedor-textos:hover{
    font-size: 16px;
    cursor: pointer;
    color: #1d971b;  
    background-color: #90e7b4; 
}

.contenedor-tarjetas:hover{
    border: solid 3px #1d971b;
}
/* --- 4to Bloque - Preguntas Frecuentes de AnalizAr --- */
.seccion__faq{
    display: flex;
    padding: 0rem 0rem 2rem 0rem;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}

details{
    width: 80%;
    background: #FFFFFF;
    padding: .5rem;
    border-radius: 6px;
    /* margin: 30px; */
    cursor: pointer;
    overflow: hidden;
    font-weight: 400;
}

summary{
    list-style: none;
    font-weight: 600;
}

summary::before{
    content: '\1F892';
    font-size: 2em;
    padding-right: 1rem;
}

details[open] summary::before{
    content: '\1F893';
    font-size: 2em;
}
/* --- 5to Bloque - Formulario de Contacto de AnalizAr --- */
.seccion__contacto{
    display: flex;
    padding: 0rem 0rem 2rem 0rem;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    margin: 0 0 4em 0;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
}

.formulario__grupo {
    display: flex;
    flex-direction: column;

}

.formulario__label {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    opacity: 0.5;    
    background: #FFFFFF;
    border: 3px solid transparent;
    border-radius: 3px;
    font-size: 17px;
    text-align: center;
    outline: none;
    line-height: 45px;
    padding: 0 10px;
    transition: 1s all ease;
}

.formulario__validacion-estado {
    position: absolute;
    right: 45px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__input:focus {
    box-shadow: 5px 5px 5px #1d971b;
    opacity: 1;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    color: var(--red);
}

.formulario__input-error-activo {
    display: block;
}

.formulario__span {
    font-size: 1.1em;
    font-weight: 100;
}

.formulario__checkbox {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
}

.formulario__grupo-terminos {
    text-align: center;
}

.formulario__grupo-terminos, .formulario__mensaje, .formulario__grupo-btn-enviar {
    grid-column: 1fr;
}

.formulario__mensaje {
    display: none;    
    padding: 15px;
    border-radius: 5px;
    background: #dd2a2a;
    text-align: center;    
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    padding: 15px 75px;
    margin: 0 0 2em 0;
    background: #4D8E4C;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 1s all ease;
}

.formulario__btn:hover {
    font-size: 18px;
    box-shadow: #3b3b38 10px 5px 10px;
}

.formulario__mensaje-exito {
    font-size: 2em;
    color: #4D8E4C;
    padding: 10px;
    text-align: center;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}
/* --------------- Validación Formulario de contacto --------------- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color:#1d971b;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color:#dd2a2a
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color:#dd2a2a;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #dd2a2a;
}
/* --- Bloque Final - Media Queries de AnalizAr --- */
@media screen and (max-width:1200px) {
    .contenedor-superior {
        grid-column: span1;
    }
} 

@media screen and (max-width:1024px) {
    .contenedor-servicios{
        grid-template-columns: 1fr 1fr;
    } 
} 

@media screen and (max-width:768px) {
    .contenedor-superior {
        flex-direction: column;
    }   
    .contenedor-superior-item1,
    .contenedor-superior-item2 {
        flex-basis: content;
    } 
    .contenedor-servicios{
        grid-template-columns: 90%;
        justify-content: center;
    } 

    .contenedor-servicios .contenedor-imagen {
        margin: 0 auto;
        width: 80%;
    }

    .contenedor-servicios .contenedor-tabla .titulos-h3 {
        text-align: center;
    }

    .contenedor-comentarios{
        flex-direction: column;
        height: auto;
    }

    .contenedor-tarjetas {
        width: 80%;
        align-items: center;
    }
    
    .formulario {
        width: 75%;
    }
}

@media screen and (max-width:520px) {
    .contenedor-superior {
        flex-direction: column;
    }   
    .contenedor-superior-item2 img {
        width: 250px;
        height: 250px;
    } 

    .contenedor-tabla{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "header"
            "main1"
            "main2"
            "main3"
            "footer1" 
            "footer2"
            "footer3";
        align-content: center;
        gap: 16px;
    }
}
