<section>
    <h1>Elige el plan que se adapte a tus necesidades</h1>
    <p>Hola, gracias por llegar hasta aquí. Recuerda que por defecto está seleccionada la opción de suscripción <strong>"Mensual"</strong>. Pero si optas por la suscripción <strong>"Anual"</strong> puedes acceder a importantes beneficios en tus plaes y/o productos. Consulta las características de cada uno de ellos.</p>
    <div class="row">
        <div class="col">
          <div class="subscription-type">
            <input type="radio" id="mensual" name="subscription" checked>
            <label for="mensual">Mensual</label>
          </div>
        </div>
        
        <div class="col">
          <div class="subscription-type">
            <input type="radio" id="anual" name="subscription">
            <label for="anual">Anual</label>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="plan">
          <h2>Starter</h2>
          <h3 class="precio">$ 799/mes</h3>          
          <ul>
            <li>Incluye el almacenamiento de los consumos por <strong>30 días</strong>.</li>
            <li>Adquiriendo nuestro medidor inteligente SFE Dom 1.0, accedes a <strong>2 meses</strong> de suscripción bonificados.</li>
            <li>Adquiriendo nuestro medidor SME Com 1.0 o TFE Ind 1.0, accedes a <strong>6 meses</strong> bonificados.</li>
          </ul>
          <button class="contratar">Contratar</button>
        </div>
      </div>
      
      <div class="col">
        <div class="plan">
          <h2>Premium</h2>
          <h3 class="precio">$ 999/mes</h3>          
          <ul>
            <li>Incluye el almacenamiento de los consumos por <strong>120 días</strong>.</li>
            <li>Adquiriendo nuestro medidor inteligente SFE Dom 1.0, accedes a <strong>6 meses</strong> de suscripción bonificados.</li>
            <li>Adquiriendo nuestro medidor SME Com 1.0 o TFE Ind 1.0, accedes a <strong>9 meses</strong> bonificados.</li>
          </ul>
          <button class="contratar">Contratar</button>
        </div>
      </div>
      
      <div class="col">
        <div class="plan">
          <h2>Gold</h2>
          <h3 class="precio">$ 1.299/mes</h3>          
          <ul>
            <li>Incluye el almacenamiento de los datos por <strong>1 año</strong> completo.</li>
            <li>Adquiriendo nuestro medidor inteligente SFE Dom 1.0, accedes a <strong>6 meses</strong> de suscripción bonificados.</li>
            <li>Adquiriendo nuestro medidor SME Com 1.0 o TFE Ind 1.0, accedes a <strong>12 meses</strong> bonificados.</li>
          </ul>
          <button class="contratar">Contratar</button>
        </div>
      </div>
    </div>    
    
  </section>  