:root {
    --green-400-transparente: #84a894b2;
}

body {
    min-height: 100vh;
    position: relative;
}

main {
    width: 100%;
    min-height: 75.2vh;
    padding: 3.37rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.tabla-datos {
    width: 50%;
    height: 80%;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .4fr 1.6fr;
}

header.encabezado-tabla-datos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .9fr 1.1fr;
    text-align: center;
}

nav.menu-tabla-datos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    place-items: center;
    background-color: var(--green-400-transparente);
}

nav.menu-tabla-datos a.link-tabla-datos {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    width: 100%;
    padding: .5rem 0;
    border: 1px solid transparent;
}

h2.encabezado-tabla-datos {
    background-color: var(--green-400);
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 500;
    padding: .4rem 0;
    color: var(--white);
}

nav.menu-tabla-datos a.link-tabla-datos:hover,
nav.menu-tabla-datos a.link-tabla-datos-activo {
    background-color: var(--green-400);
}

.contenedor-general-tabla-datos {
    display: grid;
    place-items: center;
    padding: 1rem 0;
}

.contenedor-interno-tabla-datos {
    border: 2px solid var(--green-500);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 3rem;
}

.consumo-datos {
    color: var(--green-500);
    font-size: 2.6rem;
    font-weight: 500;
}

.precio-datos {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
}

.contenedor-interno-tabla-datos button.btn {
    font-size: 1rem;
    padding: .6rem;
}

footer {
    position: absolute;
    width: 100%;
    flex-flow: column nowrap;
    bottom: 0;
}


@media screen and (max-width: 1024px){

    html {
        font-size: 95%;
    }

    main {
        padding: 1rem 0;
        height: 76.6%;
    }
    
    section.tabla-datos {
        width: 70%;
        height: 80%;
        grid-template-rows: .35fr 1.65fr;
    }
}

@media screen and (max-width: 720px){

    html {
        font-size: 90%;
    }

    main {
        height: 80vh;
    }
    
    section.tabla-datos {
        width: 75%;
    }
}

@media screen and (max-width: 420px){

    main {
        padding: 0;
    }
    
    section.tabla-datos {
        width: 100%;
        height: 100%;
        grid-template-rows: .25fr 1.75fr;
    }
    
    footer {
        padding: 1.5rem;
        text-align: center;
    }
}

