<section class="contenedor-principal-alertas my-4 mx-auto" id="contenedor-principal-alertas">
    <section class="contenedor-alertas" id="contenedor-alertas">
      <div class="alerta">
        <button class="btn-nueva-alerta" id="btn-nueva-alerta" (click)="openModal()">+</button>
        <h2 class="subtitulo-alerta">nueva alerta</h2>
      </div>
      <div *ngFor="let alert of alerts;let i= index;" class="alerta" id="div-alerta1">
        <h2 class="titulo-alerta">Alerta #{{i+1}}</h2>
        <h4>{{alert.typeAlert}}</h4>
        <p class="texto-alerta" id="texto-alerta-alerta1">Si el consmo supera los <b>{{ alert.setAlert }}</b> w/h envio una alerta como precaucion</p>
        <div class="contenedor-botones-alerta">
            <!-- <button class="btn-alerta btn-alerta-editar" (click)="openEditModal(i)">editar</button> -->
            <button class="btn-alerta btn-alerta-eliminar" (click)="removeAlert(i)">eliminar</button>
        </div>
    </div>
    </section>
    <form class="formulario-nueva-alerta" id="addAlert">
      <p class="title-formulario-alerta">nueva alerta</p>
      <div class="inputContainer">
        <input type="number" class="input" placeholder="Ingresa la cantidad de w/h" [(ngModel)]="setAlert" id="input-cantidadwh-new" name="input-cantidadwh-new">
        <label for="" class="label"> Cantidad w/h </label>
      </div>
      <div class="inputContainer">
        <select name="typeAlert"class="tipo-alerta" [(ngModel)]="typeAlert" id="typeAlert">
          <option selected disabled>Elije el tipo de alerta</option>
          <option value="Anual">Anual</option>
          <option value="Mensual">Mensual</option>
          <option value="Semanal">Semanal</option>
          <option value="Diario">Diario</option>
        </select>
      </div>
      <div class="btnContainer">
        <button type="submit" class= "submitBtn saveBtn" (click)="saveAlert()" id="btn-save-nueva-alerta">Guardar</button>
        <button type="button" class= "submitBtn cancelBtn" (click)="closeModal()" id="btn-close-nueva-alerta">Cancelar</button>
      </div>
    </form>
    <form class="formulario-nueva-alerta" id="editAlert">
      <p class="title-formulario-alerta">Editar alerta</p>
      <div class="inputContainer">
        <input type="hidden" name="idAlerta" id="input-idAlerta-edit">
        <input type="number" class="input" placeholder="Ingresa la cantidad de w/h" id="input-cantidadwh-edit">
        <label for="" class="label"> Cantidad w/h </label>
      </div>
      <div class="inputContainer">
        <select name="tipo-alerta" class="tipo-alerta" id="tipo-alerta-edit">
          <option selected disabled>Elije el tipo de alerta</option>
          <option value="anual">Anual</option>
          <option value="mensual">Mensual</option>
          <option value="semanal">Semanal</option>
          <option value="diario">Diario</option>
        </select>
      </div>
      <div class="btnContainer">
        <button type="button" class= "submitBtn saveBtn" (click)="updateAlert()" id="btn-save-edit-alerta">Guardar</button>
        <button type="button" class= "submitBtn cancelBtn" (click)="closeModal()" id="btn-close-edit-alerta">Cancelar</button>
      </div>
    </form>
  </section>
 